---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'
import { getPostLink } from '../lib/blog-helpers.ts'
import logoLight from '../images/logo-light.jpg'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

<div class="post-featured-image">
  <a href={getPostLink(post.Slug)}>
    <img
      src={image || logoLight.src}
      alt="Featured image of the post"
    />
  </a>
</div>

<style>
  .post-featured-image {
    padding: 0;
  }
  .post-featured-image img {
    display: block;
    height: 20rem;
    width: 20rem;
    object-fit: cover;
  }
  @media (max-width: 500px) {
    .post-featured-image img {
      width: 100%;
      height: auto;
      max-width: 20rem;
      aspect-ratio: auto;
      object-fit: contain;
    }
  }
</style>
